.film {
    display: inline-block;
    margin: 10px;
    border: 1px solid #000000;
    box-shadow: 0 2px 2px #ccc;
    width: 200px;
    height: 300px;
    padding: 10px;
    background-color: #ccc;
}

h1 {
    font-size: 20px;
    color: tomato;
}

.film p{
    color: darkslategray;
}

img {
    width: 180px;
    height: 200px;
}
